#add-glucose-container {
    height: 450px;
    width: 550px;
    background-color: white;
    padding: 40px;
    font-family: 'Poppins', sans-serif;
    border-radius: 20px;
    box-shadow: rgba(94, 93, 93, 0.654) 0px 5px 15px;
}

#add-glucose-title {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 30px;
}


#add-glucose-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.add-glucose-label {
    margin: 0 0 5px 0 ;
    padding: 0 5px;
}

#addglucose-level-notes-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 15px;
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.3) 0px 0px 30px;

}

#addglucose-level-container, #addglucose-state-container, #addglucose-date-container, #addglucose-time-container {
    width: 100%;
}

#addglucose-date-container, #addglucose-level-container {
    margin-right: 7px;
}
#addglucose-state-container, #addglucose-time-container  {
    margin-left: 7px;
}
.add-glucose-input {
    height: 2.8rem;
    width: 100%;
    background-color:#2E97A7;
    color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: white;
    font-family: 'Poppins', sans-serif;
    border: none;
    outline: none;
    
    display: flex;
    align-items: center;
}

.add-glucose-input::placeholder {
    color: whitesmoke;
    font-size: 16px;

}

#glucose-date-time-container {
    width: 100%;
    padding: 15px;

    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.3) 0px 0px 30px;
}

.glucose-date-picker, .glucose-time-picker {
    width: 100%;
    background-color:#2E97A7;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

::-webkit-calendar-picker-indicator {
    background-color: white;
    border-radius: 5px;;
    cursor: pointer;
}


#add-glucose-button {
    margin-top: 20px;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    background-color: #1AACAC ;
    outline: none;
    border: none;
    width: 150px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
