#whole-calendar-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}

#calendar-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 12%;
    font-size: 30px;
}

.calendar-arrows {
    font-size: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-arrows:hover {
    cursor: pointer;
    background-color:#2e97a783;
}

#calendar-weekday-header-row {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1;
    width: 100%;
    justify-items: center;
    align-items: start;
    grid-auto-flow: row;
    align-content: space-evenly;
    justify-content: space-evenly;
    height: 5%;
    font-size: 24px;
    padding: 10px 0;

}

#calendar-grid {
    height: 83%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    /* grid-gap: 6px; */
    justify-items: start;
    align-items: start;
    grid-auto-flow: row;
    align-content: space-evenly;
    justify-content: space-evenly;
    padding: 5px;
    border-radius: 20px;
}

.calendar-single-day {
    height: 100%;
    width: 100%;
    border: 1px solid #EEEEEE;
    padding: 10px;
    /* border-radius: 20px; */
}

.same-month {
    color: black
}

.diff-month {
    color: #7a7373a5
}

/* top-left corner */
#dayidx-0 {
    border-top: 2px solid #EEEEEE;
    border-left: 2px solid #EEEEEE;
    border-radius: 20px 0 0 0;
}

/* top-right corner */
#dayidx-6 {
    border-top: 2px solid #EEEEEE;
    border-right: 2px solid #EEEEEE;
    border-radius: 0px 20px 0 0;
}

/* bottom-left corner */
#dayidx-28 {
    border-left: 2px solid #EEEEEE;
    border-bottom: 2px solid #EEEEEE;
    border-radius: 0px 0px 0 20px;
}

/* bottom-right corner */
#dayidx-34 {
    border-right: 2px solid #EEEEEE;
    border-bottom: 2px solid #EEEEEE;
    border-radius: 0px 0px 20px 0px;
}

/* top-row */
#dayidx-1, #dayidx-2, #dayidx-3, #dayidx-4, #dayidx-5, #dayidx-6 {
    border-top: 2px solid #EEEEEE;
}

/* bottom-row */
#dayidx-29, #dayidx-30, #dayidx-31, #dayidx-32, #dayidx-33, #dayidx-34 {
    border-bottom: 2px solid #EEEEEE;
}

/* left-column */
#dayidx-7, #dayidx-14, #dayidx-21 {
    border-left: 2px solid #EEEEEE;
}

#dayidx-13, #dayidx-20, #dayidx-27 {
    border-right: 2px solid #EEEEEE;
}

.appt-div {
    font-size: 0.8rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    background-color: #2e97a733;
    padding: 0px 8px;
    margin: 2px 0;
}

.calendar-appt-edit:hover {

    cursor:pointer
}
