@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500;600;700&family=Sono:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');


.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

#profile-button {
  margin: 30px 0;
}

#nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  font-family: 'Poppins', sans-serif;
  padding: 0px;
  /* border: 1px solid black; */
  height: 100vh;
  background-color: #352fd9f0;
  width: 150px;
  

}

.nav-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
  color: #EEEEEE;
  height: 100px;
  margin: 10px;
  
}

#circle-button {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 0px solid #5f5bc7f0;
  background-color: #1AACAC;
  margin: 20px 0 40px 0;
}

#user-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-user-circle {
  font-size: 50px;
  color: #352fd9ce
}

#nav-icon {
  font-size: 45px;
  padding: 6px;
}

/* .nav-item-text {
  display: none
} */


#logout-button {
  margin: 40px 0;
  cursor: pointer;
}

#logout-icon {
  font-size: 30px;
  padding: 6px;
}

#nav-title {
  font-family: 'Poppins', sans-serif;
  color: #EEEEEE;
  letter-spacing: 3px;
  font-size: 20px;
  margin: 10px 0 30px 0;
}

/* .nav-item:hover{
  background-color: rgba(59, 59, 157, 0.587);
} */