@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500;600;700&family=Sono:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#home-page-container {
    width: 100%;
    flex: 1;
    box-sizing: border-box;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    color: rgba(35, 35, 35, 0.893);
    overflow-y: scroll;

}

 
#med-table-container {
    margin-top: 20px;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    padding: 15px;

}
#welcome-text {
    margin: 10px 0;
    padding: 0 15px 10px 10px;
    font-size: 20px;
    font-weight: 700;
}


#med-table-header-container {
    padding: 25px 0;
    height: 30px;
    border-radius: 8px;
    /* background-color: #1aacac78; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.med-item-container {
    padding: 38px 0;
    height: 55px;
    border-radius: 8px;
    /* background-color: #1aacac78; */
    margin: 10px 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.med-table-item {
    margin: 0 5px;
    
}

.med-green-active, .med-red-active {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    height: 45px;
    width: 125px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.med-green-active {
    background-color: rgba(44, 149, 44, 0.55);
    color: rgb(4, 87, 4);
    
}

.med-red-active {
    background-color: rgba(255, 93, 83, 0.426);
    color: rgb(201, 62, 62);
}

.med-active {
    /* margin: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.dot {
    font-size: 40px;
    padding: 0 5px;
}

.med-edit>.material-symbols-outlined, .med-delete>.material-symbols-outlined {
    font-size: 25px
}


/* table spacing start */

#med-table {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    font-size: 16px;
}

.med-item-container, #med-table-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */

}

.med-name {
    flex: 2.2
}

.med-strength {
    flex: 1
}

.med-directions {
    flex: 5
}

.med-indication {
    flex: 2
}

.med-provider {
    flex: 2
}

.med-active {
    flex: 2
}

.med-edit, .med-delete {
    flex: 0.5;
    font-size: 15px
}
.edit-item, .delete-item, .active-item {
    cursor: pointer;
}
/* table spacing end */



.add-med-modal, .add-provider-modal {
    border-radius: 15px;
    margin: 5px 0px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;


    border-radius: 10px;
    color: white;
    font-size: 16px;
    background-color: #1AACAC ;
    outline: none;
    border: none;
    width: 15rem;
    height: 4rem;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}

.add-med-modal {
    margin-left: 15px;
}

.add-med-modal:hover, .add-provider-modal:hover{
    cursor: pointer;
}

#bottom-button-container {
    display: flex;
    flex-direction: row-reverse;
}
