@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500;600;700&family=Sono:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');


#add-med-modal-container {
    width: 40rem;
    height: 45rem;
    position: relative;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    padding: 40px;
    border-radius: 20px;
    box-shadow: rgba(94, 93, 93, 0.654) 0px 5px 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 3px solid black; */
}

#add-med-title {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 30px;
}

.add-med-modal:hover {
    cursor: pointer;
}

#add-med-form-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* border: 3px solid black; */
}

#indication-input::placeholder {
    color: whitesmoke;
    font-size: 16px;
}

#add-med-box {
    background-color: #2E97A7;
    color: white;
    padding: 10px;
    margin-right: 10px;
    border-radius: 8px;
    width: 16rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 2.8rem;

}


.add-med-label {
    margin: 0 0 5px 0;
    padding: 0 5px;
}

#med-container {
    position: relative;

}

.hidden {
    display: none
}

.dataResults-container {
    cursor: pointer;
}

.med-results-container {
    /* border: 1px solid black; */
    position: absolute;
    top: 80px;
    width: 16rem;
    height: auto;
    max-height: 300px;
    border-radius: 5px;
    background-color: #2E97A7;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow: hidden;
    overflow-y: auto;
    z-index: 100;
}

#med-search-input {
    width: 14rem;
    height: 35px;
    margin: 8px;
    padding: 8px;
    outline: none;
    border: none;
    font-size: 14px;
    border-radius: 5px;
}

#provider-search-input {

    width: 13rem;
    height: 35px;
    margin: 8px;
    padding: 8px;
    outline: none;
    border: none;
    font-size: 14px;
    border-radius: 5px;

}


#med-search-box {
    position: absolute;
}

.med-result {
    padding: 4px 10px;
    margin: 0;
    font-size: 16px;
}

.strength-input {

    font-size: 16px;
    padding: 4px;
    height: 2.8rem;
    border-radius: 8px;
    border: none;
    background-color: #2E97A7;
    color: white;
    padding: 10px;
    border-radius: 8px;
    width: 16rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    outline: none;

}

#med-strength-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 15px;
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.3) 0px 0px 30px;
    margin-bottom: 30px;

}

#strength-container,
#provider-container {
    margin-left: 10px;
}

#med-container,
#strength-container {
    flex: 1;
}

#med-container,
#strength-container,
#directions-container,
#indications-container,
#provider-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

#directions-container {
    padding: 15px;
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.3) 0px 0px 30px;
    margin-bottom: 30px;
    position: relative;

}



#indication-input {
    outline: none;
    border: none;
    background-color: #2E97A7;
    color: white;
    padding: 10px;
    margin-right: 10px;
    border-radius: 8px;
    width: 16rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 2.8rem;
}

.direction-text {
    padding: 4px 10px;
    margin: 0;
    font-size: 14px;
}

.direction-text:hover {
    cursor: pointer;
}

#add-directions-box {

    width: 33rem;
    background-color: #2E97A7;
    color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 2.8rem;

}

#directions-search-input {
    width: 29.5rem;
    height: 35px;
    margin: 8px;
    padding: 8px;
    outline: none;
    border: none;
    font-size: 14px;
    border-radius: 5px;
}

.directionsResult {

    position: absolute;
    top: 95px;
    width: 33rem;
    height: auto;
    max-height: 300px;
    border-radius: 5px;
    background-color: #2E97A7;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow: hidden;
    overflow-y: auto;
    z-index: 50
}



#directions-input {
    height: 25px;
    width: 100%
}

.radio-input {
    display: none;
}

.radio-label {
    color: white;
    padding: 6px;
}

.option-container {
    padding: 6px;
}

.option-container:hover {
    background-color: #1AACAC;
}

#indication-provider-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;

    padding: 15px;
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.3) 0px 0px 30px;
    margin-bottom: 30px;
}

#provider-container {
    position: relative;
}

#activity-provider-container {
    display: flex;
}

#add-provider-container {
    flex: 1
}

#add-provider-text {
    font-size: 12px;
    padding: 10px 2px;
}

#add-provider-label {
    border: none;

    font-size: 16px;
    padding: 4px;
    height: 2.8rem;
    border-radius: 8px;
    border: none;
    background-color: #2E97A7;
    color: white;
    padding: 10px;
    border-radius: 8px;
    width: 16rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    outline: none;
}

.providerResults {
    position: absolute;
    top: 5rem;
    height: auto;
    max-height: 14rem;
    width: 16rem;
    border-radius: 5px;

    background-color: #2E97A7;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow: hidden;
    overflow-y: auto;
}


#med-active-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}


.activity-label {
    margin: 5px;
}

#active-choice-1,
#active-choice-2 {
    margin: 0 10px
}

#add-med-button {
    margin-top: 40px;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    background-color: #1AACAC;
    outline: none;
    border: none;
    width: 150px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


#add-provider-btn {
    text-align: center;
    border: 1px solid black;
    padding: 6px;
    border-radius: 5px;
    width: 150px;
    font-size: 14px;
}



/* ERROR HANDLINE CSS */
#errors-div {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    margin: 0;
}

.p-error {
    font-size: 14px;
    margin: 5px 0;
    color: red;
}